body {
	font-family: cursive;
	background-color: PeachPuff;
}
.bg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1, h2{
	font-size: 32px;
	text-align: center;
	color: dodgerblue;
}
img.center {
	display: block;
	margin: 0 auto;
}
.blog {
	text-align: center;
}
